<?xml version="1.0"?>
<config>
    <modules>
        <Rafael_Itunes>
            <version>0.1.0</version>
        </Rafael_Itunes>
    </modules>
    <global>
        <models>
            <rafael_itunes>
                <class>Rafael_Itunes_Model</class>
                <resourceModel>rafael_itunes_resource</resourceModel>
            </rafael_itunes>
            <rafael_itunes_resource>
                <class>Rafael_Itunes_Model_Resource</class>
                <entities>
                    <itunes_tracks>
                        <table>itunes_tracks</table>
                    </itunes_tracks>
                </entities>
            </rafael_itunes_resource>
        </models>
        <blocks>
            <rafael_itunes>
                <class>Rafael_Itunes_Block</class>
            </rafael_itunes>
        </blocks>
        <helpers>
            <rafael_itunes>
                <class>Rafael_Itunes_Helper</class>
            </rafael_itunes>
        </helpers>
        <resources>
            <rafael_itunes_setup>
                <setup>
                    <module>Rafael_Itunes</module>
                </setup>
            </rafael_itunes_setup>
        </resources>
    </global>
</config>