<?xml version="1.0"?>
<config>
    <tabs>
        <rafael translate="label" module="rafael_itunes">
            <label>Rafael Modules</label>
            <sort_order>1</sort_order>
        </rafael>
    </tabs>
    <sections>
        <rafael translate="label" module="rafael_itunes">
            <label>Itunes</label>
            <tab>rafael</tab>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configurations translate="label">
                    <label>Itunes configurations</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <main_text translate="label comment">
                            <label>Main text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Set a text to be shown on Itunes-> Tracks</comment>
                        </main_text>
                    </fields>
                </configurations>
            </groups>
        </rafael>
    </sections>
</config>
